@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --font-sans: var(--font-inter);
  --font-heading: var(--font-poppins);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@theme {
  --color-brand: #004a94;
  --color-paragraph: #0a1929;
  --color-section: #606060;
  --color-text: #343a40;
  --color-foreground: #f1f5f9;
  --color-gold: #f6a40c;
}
